<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        showMathMenu: false,
        messageStyle: "none",
        "HTML-CSS": {
            scale: 300
        }
    });
</script>
<script src="mathjax/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
<style>
    .MathJax_Display {
        width: 1% !important;
    }
</style>
<body>
$${{ math | raw }}$$
</body>
</html>
